*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px; 
    background-color: rgba(255, 196, 0, 0.963);
    position:sticky;
    top: 0px;
}
img.logo{
    width: 80px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    border-color: black;
    border-style: solid;
    
}
nav h1{
    display: inline-block;
    font-size: 30px;
    padding: 0px 10px;
    padding-top: 25px;
    
    
}
nav ul{
    float: right;
    list-style: none;
    position: relative;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding: 30px 10px;
    margin-right:30px;
    
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover{
    background-color: black;
    padding: 10px 20px;
    color:rgba(255, 196, 0, 0.963) ;
    border-radius: 3PX;
    margin-left: 10px;
}


    
.banneritem{
        color:rgba(255, 196, 0, 0.963) ;
        background: rgba(0, 0, 0, 0.2); 
        font-size: 40px;
        text-shadow: 5px 5px 6px black;
        position: absolute;
        top: 300px;
        left: 260px;
        text-align: center;
        
        
    
    }
.banner
{       width: 100%;
        background-image:  url(/jason-leung-poI7DelFiVA-unsplash.jpg) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        
    }
    div.footer{
        background-color: rgb(174, 165, 165);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
        border-top: 2px solid rgba(255, 196, 0, 0.963);
    }
.footer .footeritem{
        width: 50vw;
        height: 70vh;
    }
.footeritem H1{
        /* text-align: center; */
        margin: 30px;
        margin-top: 30px;
        margin-left: 100px;
        text-decoration: underline double;
        font-size: 28px;
        
    }
.footeritem h3{
        margin-left: 100px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
        font-size: 20px;
    }
.footer-line{
    background-color: black;
    width: 100%;
    height: 80px;
    border-top: 2px solid rgba(255, 196, 0, 0.963);
    
}
.footer-line h2{
    color: rgba(255, 196, 0, 0.963);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    padding-top:10px;

}
.footer-line h4{
    text-align: center;
    color: rgba(255, 196, 0, 0.963);
    font-size: 20px;
    text-decoration: underline;
    
}
.footeritem i{
    margin: 0px 10px;
      
}

/* ABOUT US CSS */

.parent{
    width: 100vw;
    background-color: rgb(174, 165, 165);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    border-top: 2px solid rgba(255, 196, 0, 0.963);

}
.child1{
    width: 50vw;
    height: 75vh;
}
.child1 img{
    width: 100%;
    height: 100%;
}
.child1 img.catering{
    width: 550px;
    height: 400px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 30px;

    
}
.child1 img.events{
    width: 600px;
    height: 400px;
    padding: 10px 20px;
    margin-left: 40px;

}
.parent .about h1{
    text-align: center;
    margin: 40px;
    font-size: 60px;
    text-decoration:underline double;
}
.parent .about p{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(62, 59, 59)
}
button{
    color: rgba(255, 196, 0, 0.963);
    font-size: 20px;
    background-color: black;
    border-radius: 3px;
    margin: 30px;
    margin-left: 40%;
    padding: 20px 30px;
}
button:hover{
    color: black;
    background-color: rgba(255, 196, 0, 0.963);
    border-radius: 3px;
    border: 2px solid black;
    font-weight: bold;

}
.parent .Aboutus h1{
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    font-size: 50px;
    text-decoration:underline double;
}
.parent .Aboutus p{
    font-size: 20px;
    margin: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(62, 59, 59);
}
/* SLIDER CSS */
.slider{
    overflow: hidden;
    border-top: 2px solid rgba(255, 196, 0, 0.963);
}
.slider-items{
    position: relative;
    width: 400vw;

}
.slider-items img{
    width: 100vw;
    height: 600px;
    float: left;
}
.slider-items .heading{
    position: absolute;
    top: 90px;
    background: rgba(0, 0, 0, 0.2); 
    color:  rgba(255, 208, 53, 0.963);
    font-size: 40px;
    padding: 100px;
}
.slider-items .text{
    left: 250px;
    
}
.slider-items .text1{
    left: 115vw;
}
.slider-items .text2{
    left: 215vw;
}
.slider-items .text3{
    left: 315vw;
}
/* button{
    color: rgba(255, 196, 0, 0.963);
    font-size: 20px;
    background-color: black;
    border-radius: 3px;
    margin-left: 40%;
    padding: 20px 30px;
}
button:hover{
    color: black;
    background-color: rgba(255, 196, 0, 0.963);
    border-radius: 3px;
    border: 2px solid black;
     font-weight: bold; 
} */

.animated{
    animation-name: slider;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

    
}
@keyframes slider{
    0%{
        left: 0;
    }
   
    30%{
        left: -100vw;
    }
    60%{
        left: -200vw;
    }

    90%{
        left: -300vw;
    }
}
/* picture gallery css */
.parent1{
    background-color:  rgb(174, 165, 165);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    border-top: 2px solid rgba(255, 196, 0, 0.963);
    width: 100%;
    
}
.parent1 .child{
    width: 1fr;
    height: 400px;
}
.parent1 .child .item{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.parent1 .child h1{
    
   position: absolute;
   top: 35%;
   left: 20%;
   font-size: 50px;
   color:rgba(255, 208, 53, 0.963);
   display: none;

}
.parent1 .child h2{
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 50px;
    color:rgba(255, 208, 53, 0.963);
    display: none;

}
.parent1 .child:hover h1{
    background-color: rgba(20, 19, 19 , 0.3);
    padding: 20px;
    display: block;
    cursor: pointer;
}
.parent1 .child:hover h2{
    background-color: rgba(20, 19, 19 , 0.3);
    padding: 20px;
    display: block;
    cursor: pointer;

}


@media SCREEN and (max-width: 480px)
{   
    nav{
        height: 60px;
    }
    img.logo{
        width: 50px;
        height: 40px;
    }
    nav h1{
        font-size: 20px;
        padding-top: 20px;
    }
    nav ul{
        display: none;
    }

    .banner{
        width: 100%;
        height: 300px;
    }
    .banneritem{
         
        font-size: 18px;
        top: 180px;
        left: 80px;
    
    } 
     .parent{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    }
    .child1{
    width: 480PX;
    height: 75vh;
}
    button{
    padding: 10px 20px;
    margin: auto;
    margin-left: 35%;
}
.Aboutus h1
{
    margin: 40px;
}
.child1 img.catering
{
width: 480px;
height: 380px;
padding: 10px;
margin:  0px;
}
.child1 img.events
{
width: 480px;
height: 380px;
padding: 10px;
margin:  0px;
}
     /* SLIDER QUERY */
    .slider-items .heading
    {
    top: 150px;
    font-size: 12px;
    padding: 20px;
    }
   .slider-items .text { left: 10vw;} 
            
    .slider-items .text1{left: 105vw;}
            
    .slider-items .text2{ left: 205vw;}
           
    .slider-items .text3{ left: 305vw;}
           
    button{
            font-size: 10px;
            border-radius: 3px;
            margin-left: 30%;
            padding: 10px 30px;
           }
           /* Mariam query */
           .parent1{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9,1fr);
          
        }
        .child h2{
            position: absolute;
            top: 26%;
            left: 8%;
            font-size: 40px;
        }
        .child h1{
            position: absolute;
            top: 26%;
            left: 8%;
            font-size: 40px;
        }
        /* Mariam query */
        div.footer{
            grid-template-columns: repeat(1,1fr);
            width: 100%;
        }
        .footer .footeritem{
            width: 480px;
            height: 70vh;
        }
        .footeritem H1{
            margin-top: 10px;
            margin-left: 80px;
            margin-bottom: 20px;
        }
        .footer-line h2{
            font-size: 20px;
            
            
        }
        .footer-line h4{
            font-size: 15px;
            padding-top:5px;
        }
    
}
@media (min-width: 481px) and (max-width: 760px)
{
    nav{
        height: 60px;
    }
    img.logo{
        width: 50px;
        height: 40px;
    }
    nav h1{
        font-size: 20px;
        padding-top: 20px;
    }
    nav ul{
        display: none;
    }

    .banner{
        width: 100%;
        height: 400px;
    }
    .banneritem{
         
        font-size: 18px;
        top: 220px;
        left: 150px;
    
    }
    .parent{
        grid-template-columns: repeat(1,1fr);
        width: 100%;

    }
    .child1{
        width: 760PX;
        height: 75vh;
    }
    button{
        padding: 10px 20px;
        margin: 30px;
        margin-left: 40%;
    }
    .Aboutus h1
    {
        margin: 40px;
    }
.child1 img.catering
{
    width: 740px;
    height: 380px;
    padding: 10px;
    margin: 0;
}
.child1 img.events
{
    width: 740px;
    height: 380px;
    padding: 10px;
    margin: 0;
}
      /* SLIDER     */
      .slider-items .heading
    {
    top: 150px;
    font-size: 12px;
    padding: 20px;
    }
    .slider-items .text{ left: 20vw;}
       
    .slider-items .text1{  left: 120vw;}
      
    .slider-items .text2{  left: 220vw;}
      
    .slider-items .text3{  left: 320vw;  }
    /* maryam query */
    .parent1{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
       
    }
    .child h1{
        position: absolute;
        top: 26%;
        left: 25%;
        font-size: 40px;
    }
    .child h2{
        position: absolute;
        top: 26%;
        left: 8%;
        font-size: 40px;
    }
       /* maryam query */
       div.footer{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .footer .footeritem{
        width: 760px;
        height: 70vh;
    }
    .footeritem H1{
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .footer-line h2{
        font-size: 20px;
        
    }
    .footer-line h4{
        font-size: 15px;
        
    }

}  
@media (min-width: 761px) and (max-width: 1024px)
    {  
        nav{
            height: 60px;
        }
        img.logo{
            width: 50px;
            height: 40px;
        }
        nav h1{
            font-size: 20px;
            padding-top: 20px;
        }
        nav ul li{
            padding: 20px 0px;
            margin-right:20px;
        }
        nav ul li a{
            font-size: 15px;
        }
    
        .banner{
            width: 100%;
            height: 400px;
        }
        .banneritem{
             
            font-size: 25px;
            top: 220px;
            left: 250px;
        }
         .parent{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 100%;

    }
    .child1{
        width: 1fr;
        height: 75vh;
    }
    button{
        padding: 10px 20px;
        margin: 0px;
        margin-left: 35%;
    }
    .child1 img.catering
{
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 0;
}
.child1 img.events{
    width: 500px;
    height: 350px;
    padding: 10px 20px;
    margin-left: 40px;
}
        /* SLIDER */
        .slider-items .heading{
            top: 150px;
            font-size: 20px;
            padding: 20px 30px;
         }
             
          
        .slider-items .text{ left: 20vw;}
           
        .slider-items .text1{left: 120vw;}
         
        .slider-items .text2{  left: 220vw;}
          
        .slider-items .text3{  left: 320vw;}
             
        button{
            margin-left: 25%;
        }
        div.footer{
            grid-template-columns: repeat(2,1fr);
            width: 100%;
        }
        .footer .footeritem{
            width: 1fr;
            height: 70vh;
        }
        .footeritem H1{
            margin-top: 20px;
            margin-left: 100px;
            margin-bottom: 20px;
        }
        .footer-line h2{
            font-size: 20px;
            
        }
        .footer-line h4{
            font-size: 15px;
            
        }
    
    }
@media (min-width: 1025px) and (max-width: 1200px)
        {  
            nav{
                height: 60px;
            }
            img.logo{
                width: 50px;
                height: 40px;
            }
            nav h1{
                font-size: 20px;
                padding-top: 20px;
            }
            nav ul li{
                padding: 20px 0px;
                margin-right:20px;
            }
            nav ul li a{
                font-size: 15px;
            }
        
            .banner{
                width: 100%;
                height: 400px;
            }
            .banneritem{
                 
                font-size: 25px;
                top: 220px;
                left: 300px;
            }
            .parent{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            width: 100%;
    
        }
        .child1{
            width: 1fr;
            height: 75vh;
        }
        .child1 img.events{
            width: 550px;
            height: 400px;
            padding: 10px 20px;
            margin-left: 40px;
        }
        /* SLIDER */
            .slider-items .heading{
                top: 150px;
                font-size: 30px;
                padding: 20px 30px;
                }
                 
            .slider-items .text{left: 20vw;}
                  
            .slider-items .text1{ left: 120vw;}
               
            .slider-items .text2{ left: 220vw;}  
    
            .slider-items .text3{left: 320vw;}
                    
                 
            button{ margin-left: 25%;}
            div.footer{
                grid-template-columns: repeat(2,1fr);
                width: 100%;
            }
            .footer .footeritem{
                width: 1fr;
                height: 70vh;
            }
            .footeritem H1{
                margin-top: 20px;
                margin-left: 100px;
                margin-bottom: 10px;
            }
            .footer-line h2{
                font-size: 20px;
                
            }
            .footer-line h4{
                font-size: 15px;
                
            }      
        }

    